<div id="page-container">
  <div id="bc-list">
    <ul class="list-group">
      <li *ngFor="let barcode of barcodes" (click)="onBarcodeClick($event)" class="list-group-item">
        {{barcode}}
      </li>
    </ul>
  </div>
  <div id="bc-panel">
    <div>
      <button (click)="createNewBarcode()">Generate</button>
      <input type="checkbox" (change)="setBadScanMode($event.target.checked)" name="bad-scan">Bad scan
    </div>
    <div>
      <code id="scanned-value">{{scannedValue}}</code><span id='valid-indicator'></span>
    </div>
  </div>
</div>
