#page-container {
  width: 100vw;
  height: 100vh;

  background-color: offwhite;
  padding: 3em;

  display: grid;
  grid-template-columns: 50% 50%;
}

#bc-list {
  text-align: center;
  font-size: 3em;
  height: 100%;
  width: 100%;
  overflow: auto;
  border: 1px solid black;
}
#bc-list > ul > li {

}

#bc-panel {
  display: grid;
  grid-template-rows: 25% 75%;
  padding: 100px;
}

#scanned-value {
  color: blue;
  font-size: 2em;
}

#valid-indicator {
  padding: 5px;
  font-size: 2em;
  color: red;
}
#valid-indicator.valid {
  color: green;
}

ul {
  list-style-type: none;
}
